@model Models.FE.Menu

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
}

@section jsFooter{
   

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thêm Loại sản phẩm mới</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "Category", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Text, new { @class = "form-control form-control-user", @id = "exampleLastName", @placeholder = "Tên Loại sản phẩm" })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>

                

                <div class="form-group" style="padding-left:5px">
                    <button type="submit" class="btn btn-primary btn-icon-split ml-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Thêm</span>
                    </button>
                </div>
            </div>
        }



    </div>
</div>
        