@{
    ViewBag.Title = "Page not found";
    Layout = null;
}
<style>
    .page-not-found{
        text-align: center;
        padding: 200px 0px;
    }
    .backHome {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 10px;
        border-radius: 25px;
        border: 2px solid #FF422E;
        color: #FF422E;
        font-size: 1.1em;
        font-weight: 500;
    }

        .backHome:hover {
            border: 2px solid #00B000;
            color: #00B000;
        }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="page-not-found">
        <img src="~/Assets/Admin/img/PageNotFound.jpg" width="400px"/>
        </br>
        <div class="">
            <a class="backHome" href="/">Quay về trang chủ</a>
        </div>
    </div>
</body>
</html>
