
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    
}

<div class="card shadow mb-4">
     <div class="card-body">
         <div class="container-fluid">
             <div class="text-center">
                 <div class="error mx-auto" >Lỗi</div>
                 <p class="lead text-gray-800 mb-5">Bạn không có quyền truy cập</p>
                 <a href="/Admin/Login/Index">Quay lại trang đăng nhập</a>
                 <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
             </div>
         </div>
     </div>
</div>