
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section  header{
    
}

<div style="text-align: center; padding: 150px 0px">
    <img src="~/Assets/Admin/img/welcome.png" width="500px"/>
</div>