
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section  header{
    
}

<div style="text-align: center; padding: 140px 0px">
    <img src="~/Assets/Admin/img/DashboardIMG.png" width="400px"/>
</div>