
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-outs" id="home">
    @{Html.RenderAction("Header", "Home");}
</div>

<!-- banner -->
<div class="inner_page-banner one-img">
</div>
<!--//banner -->
<!-- short -->
<div class="using-border py-3">
    <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
            <li>
                <a href="/">Home</a>
                <span>/ /</span>
            </li>
            <li>Dịch vụ</li>
        </ul>
    </div>
</div>

<section class="service py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Dịch vụ</h3>
        <div class="row text-center">
            <div class="col-lg-4 col-md-6 abut-gride">
                <span class="fas fa-truck"></span>
                <h5>Giao hàng tận nhà</h5>
                <p class="mt-3">
                    Cửa hàng hỗ trợ giao hàng tận nhà cho mọi khách hàng với mọi giá trị đơn hàng
                </p>
            </div>
            <div class="col-lg-4 col-md-6 abut-gride">
                <span class="fas fa-phone-volume"></span>
                <h5>Hỗ trợ trực tiếp</h5>
                <p class="mt-3">
                    Cửa hàng hỗ trợ tư vấn cho mọi khách hàng qua điện thoại hoặc trực tiếp tại cửa hàng
                </p>
            </div>
            <div class="col-lg-4 col-md-6 abut-gride">
                <span class="fas fa-undo"></span>
                <h5>Hỗ trợ đổi trả</h5>
                <p class="mt-3">
                    Cửa hàng hỗ trợ đổi trả sản phẩm cho khách hàng nếu sản phẩm có vấn đề
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
                <span class="fas fa-money-bill-alt"></span>
                <h5>Thanh toán Online</h5>
                <p class="mt-3">
                    Cửa hàng có hỗ trợ khách hàng thanh toán online qua thẻ tín dụng
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
                <span class="fas fa-exchange-alt"></span>
                <h5>Thay đổi</h5>
                <p class="mt-3">
                    Sản phẩm tại cửa hàng luôn luôn thay đổi theo nhu cầu khách hàng
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-4 mt-3 abut-gride">
                <span class="fas fa-thumbs-up"></span>
                <h5>Chất lượng</h5>
                <p class="mt-3">
                   Chúng tôi luôn ưu tiên chất lượng sản phẩm cho người tiêu dụng
                </p>
            </div>
        </div>
    </div>
</section>
