<div class="slider text-center">
    <div class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <div class="slider-img one-img">
                    <div class="container">
                        <div class="slider-info ">
                            <h5>Gấu Bông Tốt Nhất Cho <br>Mọi Người</h5>
                            <div class="bottom-info">
                            </div>
                            <div class="outs_more-buttn">
                                <a href="/gioi-thieu">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-img two-img">
                    <div class="container">
                        <div class="slider-info ">
                            <h5>Chương Trình Khuyến Mãi<br>Hấp Dẫn</h5>
                            <div class="bottom-info">
                            </div>
                            <div class="outs_more-buttn">
                                <a href="/gioi-thieu">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-img three-img">
                    <div class="container">
                        <div class="slider-info">
                            <h5>Dịch Vụ Hỗ Trợ<br> Phong Phú</h5>
                            <div class="bottom-info">
                            </div>
                            <div class="outs_more-buttn">
                                <a href="/gioi-thieu">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>

